@import url('https://fonts.googleapis.com/css?family=Amaranth');

body {
	background-color: #efe0f3;
}

#header-logo {
	width: 30%;
}

.center {
	text-align: center;
}

#navbar a {
	color: #000000;
	font-size: 1.9em;
	font-family: 'Amaranth';
	margin: 0.5em 0 0 0.5em;
	padding: 0.5em 2.5em 0.5em 2.5em;
	background-color: #a56d9e;
	text-decoration: none;
	display: inline-block;
}

#navbar .active {
	background-color: #ffffff;
}

#main-content {
	background-color: #ffffff; 
}